<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>


<div id="{{ chart._id }}"></div>

<script type="text/javascript">


var {{ chart._id }} = jarvis.{{chart.model}}(data = {{ chart.data|safe }},
                                              {{ chart.options|safe }}
                                              {% if chart.model == "MapChart" %}
                                              , {{ chart.topology|safe}}
                                              {% endif %}
                                              );

</script>

</body>
</html>