body {
   font-size: 1em;
   color: #000;
   font-family: sans-serif;
}

.jarvis-chart {
   position: relative
}

.jarvis-chart-title {
 font: 12px sans-serif;
}

.jarvis-line {
    stroke-width: 1.5;
    fill: none;
 }


.jarvis-focus circle {
  fill: none;

}

.jarvis-overlay {
  fill: none;
  pointer-events: all;
}

.jarvis-axis {
 font: 10px sans-serif;
}
.jarvis-axis path,
.jarvis-axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.jarvis-y-axis path {
 display: none;
}
.jarvis-x-axis path {
 display: none;
}

.jarvis-grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.jarvis-grid path {
    stroke-width: 0;
}



.javirs-bar {
  cursor: pointer
}

.javis-bar: hover {
  opacity: 0.8
}


.jarvis-legend text {
  font: 14px sans-serif;
  cursor: pointer
}

.jarvis-legend rect {
  cursor: pointer
}

.jarvis-legend-tick {
  cursor: pointer
}

.jarvis-tooltip {
 text-align: middle;
 padding: 2px;
 background: white;
 border-radius: 3px;
}

.jarvis-tooltip text {
 font-size: 20 px;
}


.jarvis-circle{
    stroke: white;
    stroke-width: 2;
}
.jarvis-circle:hover{
    fill:orange;
}


jarvis-path {
    fill: none;
    stroke: black
}

.jarvis-background {
  fill: white;
  stroke-width: .8px;
  stroke: black;
}

.jarvis-graticule {
    stroke: rgba(0,0,0, .2);
    stroke-width: .5px;
    fill: white;
}

.jarvis-country .jarvis-land, .jarvis-state .jarvis-land {
    fill: #DCDCDC;
    stroke: white;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.jarvis-land:hover {
  opacity: 0.7
}


.jarvis-node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
  r: 4;
}

.jarvis-node {
  font-size: 11px;
}

.jarvis-node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.jarvis-node text {
  pointer-events: none;
  font-size: 11px;
}

.jarvis-link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}


.jarvis-link:hover {
  stroke-opacity: .5;
}