.chart-title {
 font: 12px sans-serif;
}

.line {
    stroke-width: 1.5;
    fill: none;
 }


.focus circle {
  fill: none;

}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis {
 font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.y.axis path {
 display: none;
}
.x.axis path {
 display: none;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}



.bar {
  cursor: pointer
}

.bar: hover {
  opacity: 0.8
}


.legend text {
  font: 14px sans-serif;
  cursor: pointer
}

.legend rect {
  cursor: pointer
}

.legend tick {
  cursor: pointer
}

.map-path {
  fill: #DCDCDC;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.map-path:hover {
  opacity: 0.7
}


.tooltip {
 text-align: middle;
 padding: 2px;
 background: white;
 border-radius: 3px;
}

.circle{
    stroke: white;
    stroke-width: 2;
}
.circle:hover{
    fill:orange;
}
