.chart-title {
 font: 12px sans-serif;
}

.line {
    stroke-width: 1.5;
    fill: none;
 }


.focus circle {
  fill: none;

}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis {
 font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.y.axis path {
 display: none;
}
.x.axis path {
 display: none;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
          stroke-width: 0;
}


.bar {
  fill: steelblue;
  opacity: 0.8;
}

.bar:hover {
  fill: orange;
  opacity: 0.8;
}



.legend circle {
  stroke: none;
}
.legend text {
  font: 11px sans-serif;
}